*{
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
}

header.menu-superior{
    max-width: 100%;
    position: sticky;
    top: 0vh; 
    z-index: 10; 

}


.divthead{
    background: #ffffff;
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.theadtop{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 65%;
    align-items: center;
}
.theadbot{
    height: 35%;
    width: 100%;
    background: #cfcfcf;
    display: flex;
    align-items: center;
}
.divbarra{
    height: 100%;
    width: 100vh;
    display: flex;
    align-items: center;
}
.LogoX{
    height: 100%;
    margin-left: 16vh;
    margin-right: 5vh;
    transition: transform 1.2s ease;
}
.LogoX:hover{
    transform: rotate(360deg);
}
.logo{
    width: 12%;
    height: 100%;
    margin-right:26.5%;
    cursor: pointer;
}
.lupa{
    width: 5vh;
    height: 55%;
    position: relative;
    left: 5vh;
    
}
.Barra{
    border-bottom: 1px solid black;
    width: 90vh;
    height: 50%;
    color: #5e5d5d;
    font-weight: 900;
    font-size: 100%;
    border-radius: 1vh 1vh 1vh 1vh;
    padding-left: 4%;
}
.Barra:focus{
    outline: none;
    color: #5e5d5d;
    font-weight: 900;
    font-size: 100%;
}
.cajabotones{
    margin-left: 2%;
    width: 40%;
    height: 80%;
    display: flex;
    
    justify-content: space-between;
}
.botonesthead{
    border-bottom: 2px solid transparent;
    width:20%;
    font-weight: 900;
    border: none;
    background: #cfcfcf;
    transition: color 0.6s ease,transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border-radius: 1vh 1vh 1vh 1vh;
}
.botonesthead:hover{
    transform: scale(1.1) translateZ(2.1vh); 
    background: rgb(2, 99, 64);
    color: white;
    font-weight: 900;
}
.divtbody{
    background: white;
    width: 100%;
    height: 200vh;
    z-index: 1;
}
.toptbody{
    width: 100%;
    height: 7vh;
}

.Botonimg{
    width: 90%;
    height: 90%;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.Botonimg.rotate{
    animation: rotar 0.5s forwards;
}
@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.Pestaña{
    background: #ffffff;
    position: fixed;
    left: -15.5%;
    transition: left 0.5s ease;
    height: 100%;
    width: 19%;
    border-right: 1vh solid #00633f;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.Pestaña.opened{
    left: 0vh;
}
.botontriangle:first-child{
    width: 100%;
    height: 20vh;
    display: flex;
    
    
}
.button{
    width: 16%;
    height: 25%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: none;
    margin-right: 0.5vh;
}
.cuadro1{
    width: 80%;
    height: 5vh;
    border-bottom: 2vh solid #00633f;
    cursor: pointer;
    font-weight: 900;
}

.divimg{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-right: 3%;
}
.gif{
    width: 98%;
    height: 98%;
}
.cuadro2{
    width: 80%;
    height: 5vh;
    border-bottom: 2vh solid #00633f;
    font-weight: 900;
}
.cuadro3{
    width: 80%;
    height: 5vh;
    border-bottom: 2vh solid #00633f;
    font-weight: 900;
}
.cuadro4{
    width: 80%;
    height: 5vh;
    border-bottom: 2vh solid #00633f;
    font-weight: 900;
}
.cuadro5{
    width: 80%;
    height: 5vh;
    border-bottom: 1.5vh solid #00633f;
    font-weight: 900;
}
.cuadro6{
    width: 80%;
    height: 5vh;
    border-bottom: 2vh solid #00633f;
    font-weight: 900;
}
.divcatalogo{
    margin-top: 2vh;
    margin-left: 14vh;
    width: 90%;
    height: 97%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.botonropa{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 35vh;
    justify-content: center;
    
}
.divproductos{
    width: 95%;
    margin-top: 5vh;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.botonropa1{
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    
}
.imagenboton{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 10px 10px 10px 10px;
    
}
.imagenbotonsito{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}
.imagenboton:hover .imagenbotonsito{
    transform: scale(1.1);
    border: 2vh solid #00633f;
    border-radius: 10px 10px 10px 10px;
}
.titulo{
    cursor: pointer;
    border: 0.5vh solid rgb(160, 160, 160);
    position: absolute;
    transition: font-size 0.3s,color ease;
    margin-top: 10vh;
    color: rgb(160, 160, 160); 
    font-size: 5vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}
.imagenboton:hover .titulo{
    font-size: 7vh;
    border: 3px solid white  ;
    color: rgb(255, 255, 255); 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}
.Linea{
    margin-top: 5vh;
    width: 100%;
    height: 0.2vh;
    background: linear-gradient(to right, transparent 0%, rgb(0, 0, 0) 50%, transparent 100%); 
}
.Titulocatalogo{
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
.carrusel{
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 20s infinite;
    border-radius: 10px 10px 10px 10px;
}
.carrusel .carruselimg{
    width: 110vh;
    height: 100%;
}
@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}
.titulo2{
    border: 1px solid rgb(160, 160, 160);
    position: absolute;
    transition: font-size 0.3s,color ease;
    
    color: rgb(160, 160, 160); 
    font-size: 5vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}
.Titulocatalogo:hover .titulo2{
    font-size: 7vh;
    border: 3px solid white  ;
    color: rgb(255, 255, 255); 
}
.divmuestraproductos{
    width: 95%;
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: thin;
}
.Divproducto{
    width: 40vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto{
    height: 85%;
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    background: #e9e7e7;
    border-radius: 1vh 1vh 1vh 1vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.imagenproducto{
    width: 90%;
    height: 17vh;
    overflow: hidden;
    border-radius: 1vh 1vh 1vh 1vh;
    transition: transform 0.3s ease;
}
.nameproducto{
    margin-top: 1.5vh;
    height: 8vh;
    width: 90%;
    font-weight: 900;
}
.precioproducto{
    display: flex;
    justify-content: center;
    padding: 0vh;
    margin-top: 2vh;
    width: 60%;
    height: 6vh;
    font-weight: 900;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}
.producto:hover {
    transform:scale(1.1)
}
.producto:hover .imagenproducto {
    transform:scale(1.05)
}
/* Media Queries */
@media (max-width: 1200px) {
    .Divproducto {
        width: 30vh;
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .Divproducto {
        width: 90%;
        height: 35vh;
    }

    .divmuestraproductos {
        height: 80vh;
    }

    .titulo {
        font-size: 20px;
    }

    .titulo2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .Divproducto {
        height: 30vh;
    }

    .titulo {
        font-size: 18px;
    }

    .titulo2 {
        font-size: 18px;
    }

    .divthead {
        height: 15vh;
    }

    .toptbody {
        height: 5vh;
    }
}
